:root {
    --teal: #4D96A9;
    --lightblue: #8FE3F9;
    --purple: #855FB1;
    --lightpurple: #D9B8FF;
    --black: #28283D;
    --gray: #87879D;
    --gray25: #87879d50;

    --white: #FAFAFA;

    --ff-primary: 'Red Hat Display', sans-serif;

    --fw-black: 900;
    --fw-medium: 500;
}

/* === RESET === */

html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    color: var(--davysgrey);
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

a {
    text-decoration: none;
}

/* === GLOBAL (MOBILE) === */

body {
    font-family: var(--ff-primary);
    text-align: center;
}

.container {
    margin: 0 auto;
    max-width: 90em;
}

header {
    padding: 3em;
}

.hero {
    padding: 1em;
    margin: 2em auto;
}

.text-headline1 {
    font-weight: var(--fw-black);
    color: var(--black);
    font-size: 2.5rem;
    line-height: 1.125em;
    margin-bottom: 0.5em;
}

.text-body {
    font-weight: var(--fw-medium);
    color: var(--gray);
    font-size: 1rem;
    line-height: 1.625em;
    text-align: center;
}

.call-to-action {
    margin-top: 2em;
    /* display: flex;
    flex-direction: column; */
}

.btn {
    background-color: #D9B8FF;
    padding: 1em 2.5em;
    border-radius: 10em;
    color: var(--white);
    display: block;
}

.count {
    font-size: 1rem;
    color: var(--gray);
    font-weight: var(--fw-black);
    height: 1em;
    width: 1em;
    border: 1px solid var(--gray25);
    padding: 1.5em;
    border-radius: 50%;
    display: grid;
    place-content: center;
    margin: 10em auto 5em auto;
    position: relative;
    background-color: #fff;
}

/* LEARNED HOW TO CREATE 
THE HORIZONTAL ALIGNMENT 
WITH A PSUEDO BEFORE & POSITIONING */
.count::before {
    content: '';
    width: 1px;
    height: 6em;
    background-color: var(--gray25);
    margin: 0 auto;
    position: absolute;
    left: 50%;
    bottom: 3em;
}

.image-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5em;
    margin: 4em auto;
}

.photo {
    width: 40%;
    border-radius: 0.5em;
    justify-content: space-between;
}

.second-section {
    padding: 1em;
}

.text-overline {
    font-weight: var(--fw-black);
    color: var(--teal);
    text-transform: uppercase;
    letter-spacing: 0.25em;
    margin-bottom: 1.5em;
}

.text-headline2 {
    font-weight: var(--fw-black);
    color: var(--black);
    font-size: 2rem;
    line-height: 1em;
    margin-bottom: 1em;
}



footer {
    background-image: url(assets/mobile/image-footer.jpg);
    position:relative;
    padding: 4em 2em;
    background-size: cover;
    /* created color overlay! */
    box-shadow: inset 0 0 0 1000px #4d97a9e1;
    

}

.text-headline2-light {
    font-weight: var(--fw-black);
    color: var(--white);
    font-size: 2rem;
    line-height: 1em;
    margin-bottom: 1em;
}

.text-body-light {
    font-weight: var(--fw-medium);
    color: var(--white);
    font-size: 1rem;
    line-height: 1.625em;
    text-align: center;
}

